 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Public+Sans:wght@300&display=swap');

 /* --------- Global style */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     background-color: #D8BFD8
 }

 body {
     height: 900px;
     width: 100%;
 }

 #introduction {
     color: black padding: 0.5rem 0.5rem;
     width: 60%;
     margin: 20px auto;
     text-align: center;
     position: relative;
     z-index: 2;
     font-weight: 200;
 }

 h1 {
     margin: 0;
     margin-top: 0.5rem;
     margin-bottom: 1rem;
     height: 2rem;
     width: 100%;
     text-align: center;
     color: #FFD700;
 }

 .quotebox {
     background-image: url('./assets/images/placeholder.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     position: relative;
     padding-top: 1rem;
     height: 800px;
     width: 1200px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .quoteDisplay {
     background-color: rgba(0, 0, 0, 0.4);
     color: #FFD700;
     padding: 20px;
     height: 400px;
     width: 900px;
     position: absolute;
     top: 40%;
     left: 50%;
     border-radius: 5px;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 span {
     background-color: rgba(0, 0, 0, 0.0);
     height: 150px;
     width: 760px;
     color: #FFD700;
     font-size: 40px;
     padding: 10px;
     border-radius: 5px;
     display: inline-block;
     position: absolute;
     top: 40%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .quote {
     background-color: rgba(0, 0, 0, 0.7);
     color: #FFD700;
     border-radius: 10px;
     display: inline-block;
     position: absolute;
     font-size: large;
     top: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .joke {
     background-color: rgba(0, 0, 0, 0.7);
     color: #FFD700;
     border-radius: 10px;
     display: inline-block;
     position: absolute;
     font-size: large;
     top: 55%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 @media (max-width: 850px) {
     h1 {
         padding: 1rem;
     }

     #introduction {
         color: black;
         padding: 1.5rem 1.5rem;
         width: 90%;
         height: auto;
         margin: 20px auto;
         text-align: center;
         position: relative;
         z-index: 2;
         font-weight: 200;
     }


     .quotebox {
         background-image: url('./assets/images/placeholder.jpg');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center center;
         position: absolute;
         padding-top: 3rem;
         max-height: 600px;
         max-width: 750px;
         transform: translate(-50%, -50%);
         text-align: center;
     }

     .quoteDisplay {
         width: 90%;
         height: auto;
         margin: 0 auto;
         top: 25%;
         left: 50%;
     }

     span {
         height: 150px;
         width: 90%;
     }

     .quote {
         border-radius: 10px;
         display: inline-block;
         position: absolute;
         font-size: large;
         top: 65%;
         transform: translate(-50%, -50%);
         text-align: center;
     }

     .joke {
         background-color: rgba(0, 0, 0, 0.7);
         color: #ACE1AF;
         border-radius: 10px;
         display: inline-block;
         position: absolute;
         font-size: large;
         top: 70%;
         transform: translate(-50%, -50%);
         text-align: center;
     }
 }

 @media (max-width: 390px) {
     h1 {
         padding: 1rem;
     }

     #introduction {
         color: black;
         padding: 1.5rem 1.5rem;
         width: 90%;
         height: auto;
         margin: 20px auto;
         text-align: center;
         position: relative;
         z-index: 2;
         font-weight: 200;
     }


     .quotebox {
         background-image: url('./assets/images/placeholder.jpg');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center center;
         position: absolute;
         padding-top: 3rem;
         max-height: 350px;
         max-width: 350px;
         transform: translate(-50%, -50%);
         text-align: center;
     }

     .quoteDisplay {
         width: 90%;
         height: auto;
         margin: 0 auto;
         top: 25%;
         left: 50%;
     }

     span {
         height: auto;
         width: 90%;
         font-size: small;
     }

     .quote {
         border-radius: 10px;
         display: inline-block;
         position: absolute;
         font-size: small;
         top: 60%;
         transform: translate(-50%, -50%);
         text-align: center;
     }

     .joke {
         background-color: rgba(0, 0, 0, 0.7);
         color: #ACE1AF;
         border-radius: 10px;
         display: inline-block;
         position: absolute;
         font-size: small;
         top: 70%;
         transform: translate(-50%, -50%);
         text-align: center;
     }
 }